<div id="stats" class="my-20 w-full flex justify-center items-center">
    <div class="w-[70vw] py-10 px-20 bg-[#00110b98] border border-[#99be9372] rounded-3xl flex justify-between items-center max-md:flex-col max-md:gap-20">
        <app-stat-component stat="Years Experience" [statNumber]="3"></app-stat-component>
        <app-stat-component stat="Shipped Projects" [statNumber]="40"></app-stat-component>
        <app-stat-component stat="Production Projects" [statNumber]="3"></app-stat-component>
    </div>
</div>