<div id="experience" class="w-full px-10 h-fit delay-item-1 max-md:px-2" appRevealOnScroll>
    <div class="bg-[#00110b98] border border-[#99be9372] rounded-xl p-4 sm:p-6 md:p-10">
        <div class="flex justify-between items-center max-md:flex-col max-md:gap-5">
            <div class="flex flex-col justify-between items-start">
                <div class="flex justify-between items-center w-fit gap-3">
                    <div class="bg-primary w-10 h-1 rounded-full"></div>
                    <h1 class="text-primary font-bold">Carrer Milestone</h1>
                </div>
                <h1 class="text-white text-2xl font-bold">NTG Software Engineering Internship</h1>
            </div>

            <div class="bg-[#99be932a] border border-primary flex gap-5 items-center justify-between p-4 rounded-2xl">
                <div class="bg-white px-5 rounded-2xl max-md:px-1 max-md:rounded-xl">
                    <img src="/ntg.png" alt="" class="size-10 object-cover max-md:w-23">
                </div>
                <div class="flex flex-col items-start justify-between">
                    <h1 class="text-[#c52720] font-bold">NTG Clarity</h1>
                    <h1 class="text-white">Software Engineering Intern . 1 Year (2025 - 2026)</h1>

                </div>
            </div>
        </div>
        <div class="w-full h-0.5 bg-[#99be931c] my-5"></div>
        <div class="flex justify-between items-start h-fit w-full max-md:flex-col max-md:gap-10 max-md:flex-wrap">
            <div class="flex flex-col gap-5 flex-1 w-full" >
                <h1 class="text-white text-xl font-semibold">High-Impact Enterprise Contributions</h1>
                <p class="text-[#747a73] font-semibold break-words">Completed an intensive 2-year tenure architecting scalable
                    front-end components and resilient
                    back-end services across flagship enterprise applications. Collaborated closely within distributed
                    multidisciplinary squads to modernize legacy modules into flexible micro-frontends.</p>
                <p class="text-[#747a73] font-semibold break-words">Delivered end-to-end feature sets with test-driven workflows,
                    optimized
                    high-frequency data tables, and cut initial dashboard bundle overhead by 34% through intelligent
                    route splitting and asynchronous component hydration.</p>
                <div class="flex gap-2 flex-wrap w-100 mt-10 w-full">
                    <app-experience-chip experienceName="Enterprise Systems"></app-experience-chip>
                    <app-experience-chip experienceName="Full-Stack Development"></app-experience-chip>
                    <app-experience-chip experienceName="SDLC"></app-experience-chip>
                    <app-experience-chip experienceName="CI/CD Pipelines"></app-experience-chip>
                    <app-experience-chip experienceName="Collaborative Delivery"></app-experience-chip>
                </div>
            </div>
            <div class="flex flex-col justify-stretch items-end flex-1 gap-5 w-full">
                <app-experience-cards class="delay-item-7" appRevealOnScroll icon="deployed_code" title="Modular Architectures" experience="Engineered reusable React components adopted across 4 internal engineering portals."></app-experience-cards>
                <app-experience-cards class="delay-item-9" appRevealOnScroll icon="neurology" title="Robust API Integration" experience="Seamlessly integrated mission-critical REST & WebSocket telemetry services with zero "></app-experience-cards>
                <app-experience-cards class="delay-item-10" appRevealOnScroll icon="deployed_code" title="Modular Architectures" experience="Engineered reusable React components adopted across 4 internal engineering portals."></app-experience-cards>
            </div>
        </div>
    </div>
</div>