<div class="flex flex-col w-100 rounded-xl bg-[#2c342f46] border-b border-[#84a87e70] border-x ">
    <img [src]="img" class="w-full h-45  object-contain rounded-t-xl" alt="">
    <div class="p-5 flex flex-col w-full gap-2">
        <h2 class="text-primary text-sm font-medium tracking-wider">{{type}}</h2>
        <h1 class="text-white text-lg font-medium">{{headline}}</h1>
        <p class="text-[#91a68da8]">{{body}}</p>
        <div class="flex flex-wrap gap-2 justify-start items-center mt-3">
            @for (item of technologies; track $index) {
            <app-experience-chip [experienceName]="item"></app-experience-chip>
            }
        </div>
    </div>
    <div class="w-full h-0.5 bg-[#84a87e55]"></div>
    <div class="p-5 w-full flex justify-between items-center">
        <a [href]="githubLink" target="_blank" class="flex items-center justify-center gap-1 cursor-pointer">
            <h1 class="text-white">View project on github</h1>
            <span [style.color]="'white'" class="material-symbols-outlined">
                arrow_right_alt
            </span>
        </a>
        <a [href]="liveUrl" target="_blank" [class.hidden]="!isLive" class="text-primary font-medium relative before:absolute before:left-0 before:-bottom-1 before:w-0 before:h-0.5 before:bg-secondry before:transition-all before:duration-300 hover:before:w-full transition duration-300 before:content-[''] cursor-pointer">
            Visit Website
        </a>

    </div>

</div>